<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="form-container">
        <h1 class="big-text">Hi, what are we working on today?</h1>
        <form method="POST">
            <input class="task-input" name="task" placeholder="Enter your task: ">
            <button class="submit-button" type="submit">Submit</button>
        </form> 
    </div>
    
</body>
</html>